<div class="nav-menu fixed-top">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
          <h1 class="text-white">Profiling</h1>
      </div>
    </div>
  </div>
</div>
<header class="bg-gradient" id="home">
  <div class="container mt-5">
    <h1>Test de Personnalité</h1>
    <p class="tagline">

      Répondez avec honnêteté (même si vous n’aimez pas la réponse).
      <br>
      Essayez de ne pas laisser de réponses « neutres ».
    </p>
  </div>
  <div class="img-holder mt-3"><img src="https://www.mydiscprofile.com/fr-fr/_images/homepage-free-personality-test.png" alt="phone" class="img-fluid"></div>
</header>
<div class="quizz-try my-5 text-center">
  <div class="btn btn-try">
    try test
  </div>
</div>
